In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/otto-group-product-classification-challenge/train.csv
/kaggle/input/otto-group-product-classification-challenge/sampleSubmission.csv
/kaggle/input/otto-group-product-classification-challenge/test.csv

In [2]:
df = pd.read_csv('../input/otto-group-product-classification-challenge/train.csv')

In [3]:
df

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,61874,1,0,0,1,1,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61874,61875,4,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61875,61876,0,0,0,0,0,0,0,3,1,...,0,3,1,0,0,0,0,0,0,Class_9
61876,61877,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61877,61878,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61878 entries, 0 to 61877
Data columns (total 95 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       61878 non-null  int64
 1   feat_1   61878 non-null  int64
 2   feat_2   61878 non-null  int64
 3   feat_3   61878 non-null  int64
 4   feat_4   61878 non-null  int64
 5   feat_5   61878 non-null  int64
 6   feat_6   61878 non-null  int64
 7   feat_7   61878 non-null  int64
 8   feat_8   61878 non-null  int64
 9   feat_9   61878 non-null  int64
 10  feat_10  61878 non-null  int64
 11  feat_11  61878 non-null  int64
 12  feat_12  61878 non-null  int64
 13  feat_13  61878 non-null  int64
 14  feat_14  61878 non-null  int64
 15  feat_15  61878 non-null  int64
 16  feat_16  61878 non-null  int64
 17  feat_17  61878 non-null  int64
 18  feat_18  61878 non-null  int64
 19  feat_19  61878 non-null  int64
 20  feat_20  61878 non-null  int64
 21  feat_21  61878 non-null  int64
 22  feat_22  61878 non-null  int64
 23  feat_23  61878 non-null  int64
 24  feat_24  61878 non-null  int64
 25  feat_25  61878 non-null  int64
 26  feat_26  61878 non-null  int64
 27  feat_27  61878 non-null  int64
 28  feat_28  61878 non-null  int64
 29  feat_29  61878 non-null  int64
 30  feat_30  61878 non-null  int64
 31  feat_31  61878 non-null  int64
 32  feat_32  61878 non-null  int64
 33  feat_33  61878 non-null  int64
 34  feat_34  61878 non-null  int64
 35  feat_35  61878 non-null  int64
 36  feat_36  61878 non-null  int64
 37  feat_37  61878 non-null  int64
 38  feat_38  61878 non-null  int64
 39  feat_39  61878 non-null  int64
 40  feat_40  61878 non-null  int64
 41  feat_41  61878 non-null  int64
 42  feat_42  61878 non-null  int64
 43  feat_43  61878 non-null  int64
 44  feat_44  61878 non-null  int64
 45  feat_45  61878 non-null  int64
 46  feat_46  61878 non-null  int64
 47  feat_47  61878 non-null  int64
 48  feat_48  61878 non-null  int64
 49  feat_49  61878 non-null  int64
 50  feat_50  61878 non-null  int64
 51  feat_51  61878 non-null  int64
 52  feat_52  61878 non-null  int64
 53  feat_53  61878 non-null  int64
 54  feat_54  61878 non-null  int64
 55  feat_55  61878 non-null  int64
 56  feat_56  61878 non-null  int64
 57  feat_57  61878 non-null  int64
 58  feat_58  61878 non-null  int64
 59  feat_59  61878 non-null  int64
 60  feat_60  61878 non-null  int64
 61  feat_61  61878 non-null  int64
 62  feat_62  61878 non-null  int64
 63  feat_63  61878 non-null  int64
 64  feat_64  61878 non-null  int64
 65  feat_65  61878 non-null  int64
 66  feat_66  61878 non-null  int64
 67  feat_67  61878 non-null  int64
 68  feat_68  61878 non-null  int64
 69  feat_69  61878 non-null  int64
 70  feat_70  61878 non-null  int64
 71  feat_71  61878 non-null  int64
 72  feat_72  61878 non-null  int64
 73  feat_73  61878 non-null  int64
 74  feat_74  61878 non-null  int64
 75  feat_75  61878 non-null  int64
 76  feat_76  61878 non-null  int64
 77  feat_77  61878 non-null  int64
 78  feat_78  61878 non-null  int64
 79  feat_79  61878 non-null  int64
 80  feat_80  61878 non-null  int64
 81  feat_81  61878 non-null  int64
 82  feat_82  61878 non-null  int64
 83  feat_83  61878 non-null  int64
 84  feat_84  61878 non-null  int64
 85  feat_85  61878 non-null  int64
 86  feat_86  61878 non-null  int64
 87  feat_87  61878 non-null  int64
 88  feat_88  61878 non-null  int64
 89  feat_89  61878 non-null  int64
 90  feat_90  61878 non-null  int64
 91  feat_91  61878 non-null  int64
 92  feat_92  61878 non-null  int64
 93  feat_93  61878 non-null  int64
 94  target   61878 non-null  object
dtypes: int64(94), object(1)
memory usage: 44.8+ MB

In [6]:
df.describe()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
count,61878.000000,61878.00000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,...,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000
mean,30939.500000,0.38668,0.263066,0.901467,0.779081,0.071043,0.025696,0.193704,0.662433,1.011296,...,0.070752,0.532306,1.128576,0.393549,0.874915,0.457772,0.812421,0.264941,0.380119,0.126135
std,17862.784315,1.52533,1.252073,2.934818,2.788005,0.438902,0.215333,1.030102,2.255770,3.474822,...,1.151460,1.900438,2.681554,1.575455,2.115466,1.527385,4.597804,2.045646,0.982385,1.201720
min,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15470.250000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30939.500000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,46408.750000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,61878.000000,61.00000,51.000000,64.000000,70.000000,19.000000,10.000000,38.000000,76.000000,43.000000,...,76.000000,55.000000,65.000000,67.000000,30.000000,61.000000,130.000000,52.000000,19.000000,87.000000

In [7]:
x_train = df.drop(['id', 'target'], axis=1)
y_train = df['target']

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y_train)
y_train = le.transform(y_train)

In [9]:
y_train

array([0, 0, 0, ..., 8, 8, 8])

In [10]:
import xgboost as xgb
from sklearn.model_selection import StratifiedKFold, ParameterGrid, GridSearchCV

params = {
    'learning_rate': [0.1],
    'max_depth': [9], #[3,4,5,6,7,8,9],
    'min_child_weight': [1.0],
    'n_estimators': [100],
    'col_sample_by_tree': [1.0],
    'col_sample_by_level': [0.3],
    'subsample': [0.9],
    'seed': [0]
}

model = xgb.XGBClassifier(
    objective='multi:softmax',
    tree_method = 'gpu_hist',
    num_class=9,
    **params)

In [11]:
skf = StratifiedKFold(
    n_splits=5,
    shuffle=True,
    random_state=0
)

In [12]:
clf = GridSearchCV(
    estimator=model,
    param_grid=params,
    cv=skf,
    scoring='neg_log_loss',
    verbose=3,
    n_jobs=-1
)

In [13]:
clf.fit(x_train, y_train)

Fitting 5 folds for each of 7 candidates, totalling 35 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done  35 out of  35 | elapsed:  4.6min finished

[06:08:13] WARNING: ../src/learner.cc:516:
Parameters: { col_sample_by_level, col_sample_by_tree } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=0, shuffle=True),
             estimator=XGBClassifier(base_score=None, booster=None,
                                     col_sample_by_level=[0.3],
                                     col_sample_by_tree=[1.0],
                                     colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None, gamma=None,
                                     gpu_id=None, importance_type='gain',
                                     interaction_constraints=None,
                                     learning_rate=[0.1], max_delta_st...
                                     reg_lambda=None, scale_pos_weight=None,
                                     seed=[0], subsample=[0.9],
                                     tree_method='gpu_hist',
                                     validate_parameters=None, ...),
             n_jobs=-1,
             param_grid={'col_sample_by_level': [0.3],
                         'col_sample_by_tree': [1.0], 'learning_rate': [0.1],
                         'max_depth': [3, 4, 5, 6, 7, 8, 9],
                         'min_child_weight': [1.0], 'n_estimators': [100],
                         'seed': [0], 'subsample': [0.9]},
             scoring='neg_log_loss', verbose=3)

In [14]:
clf

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=0, shuffle=True),
             estimator=XGBClassifier(base_score=None, booster=None,
                                     col_sample_by_level=[0.3],
                                     col_sample_by_tree=[1.0],
                                     colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None, gamma=None,
                                     gpu_id=None, importance_type='gain',
                                     interaction_constraints=None,
                                     learning_rate=[0.1], max_delta_st...
                                     reg_lambda=None, scale_pos_weight=None,
                                     seed=[0], subsample=[0.9],
                                     tree_method='gpu_hist',
                                     validate_parameters=None, ...),
             n_jobs=-1,
             param_grid={'col_sample_by_level': [0.3],
                         'col_sample_by_tree': [1.0], 'learning_rate': [0.1],
                         'max_depth': [3, 4, 5, 6, 7, 8, 9],
                         'min_child_weight': [1.0], 'n_estimators': [100],
                         'seed': [0], 'subsample': [0.9]},
             scoring='neg_log_loss', verbose=3)

In [15]:
clf.best_score_

-0.4966454010230527

In [16]:
clf.best_params_

{'col_sample_by_level': 0.3,
 'col_sample_by_tree': 1.0,
 'learning_rate': 0.1,
 'max_depth': 9,
 'min_child_weight': 1.0,
 'n_estimators': 100,
 'seed': 0,
 'subsample': 0.9}

In [17]:
model = clf.best_estimator_

In [18]:
df_test = pd.read_csv('../input/otto-group-product-classification-challenge/test.csv')

In [19]:
x_test = df_test.drop(['id'], axis=1)

In [20]:
pred = model.predict(x_test)

In [21]:
pred_inverse = le.inverse_transform(pred)

In [22]:
df_submission = pd.read_csv('../input/otto-group-product-classification-challenge/sampleSubmission.csv')

In [23]:
for c in range(1,10):
    field = 'Class_' + str(c)
    df_submission.loc[:,field] = (pred_inverse == field) * 1

In [24]:
df_submission

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,1,0,0,0,1,0,0,0,0,0
1,2,0,0,0,0,0,1,0,0,0
2,3,0,0,0,0,0,1,0,0,0
3,4,0,1,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
144363,144364,1,0,0,0,0,0,0,0,0
144364,144365,0,0,1,0,0,0,0,0,0
144365,144366,0,1,0,0,0,0,0,0,0
144366,144367,0,0,0,1,0,0,0,0,0
144367,144368,0,1,0,0,0,0,0,0,0

In [25]:
df_submission.to_csv('submission.csv', index=False)